<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.syafira.SIGITA"
          android:versionCode="1"
          android:versionName="1.0">
    <!-- Minimum SDK -->
    <uses-sdk android:minSdkVersion="15"/>
    <!-- Permission -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/icon_logo"
                 android:label="@string/app_name">
        <!-- Splash Activity -->
        <activity android:name="com.syafira.SIGITA.Splash"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!-- Filter for First Activity when application open -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Home Activity -->
        <activity android:name=".Home"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- ImageZoom Activity -->
        <activity android:name="com.syafira.SIGITA.ImageZoom"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Profil Activity -->
        <activity android:name="com.syafira.SIGITA.Profil"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Tambah Profil Activity -->
        <activity android:name=".ProfilTambah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Detail Profil Activity -->
        <activity android:name=".ProfilDetail"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Ubah Profil Activity -->
        <activity android:name=".ProfilUbah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Hapus Profil Activity -->
        <activity android:name=".ProfilHapus"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- ProfilPasscode Activity -->
        <activity android:name=".ProfilPasscode"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Profil Tambah ProfilPasscode Activity -->
        <activity android:name=".ProfilPasscodeTambah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Profil Cek ProfilPasscode Activity -->
        <activity android:name=".ProfilPasscodeCek"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Profil Ubah ProfilPasscode Activity -->
        <activity android:name=".ProfilPasscodeUbah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Profil Hapus ProfilPasscode Activity -->
        <activity android:name=".ProfilPasscodeHapus"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Gizi Activity -->
        <activity android:name="com.syafira.SIGITA.Gizi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Kalkulator Gizi Activity -->
        <activity android:name=".GiziKalkulatorGizi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Hasil Kalkulator Gizi Activity -->
        <activity android:name=".GiziKalkulatorGiziHasil"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Dokumentasi Gizi Activity -->
        <activity android:name=".GiziDokumentasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Tambah Dokumentasi Gizi Activity -->
        <activity android:name=".GiziDokumentasiTambah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Detail Dokumentasi Gizi Activity -->
        <activity android:name=".GiziDokumentasiDetail"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Ubah Dokumentasi Gizi Activity -->
        <activity android:name=".GiziDokumentasiUbah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Hapus Dokumentasi Gizi Activity -->
        <activity android:name=".GiziDokumentasiHapus"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Imunisasi Activity -->
        <activity android:name="com.syafira.SIGITA.Imunisasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Jadwal Imunisasi Activity -->
        <activity android:name=".ImunisasiJadwal"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Detail Jadwal Imunisasi Activity -->
        <activity android:name=".ImunisasiJadwalDetail"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Riwayat Imunisasi Activity -->
        <activity android:name=".ImunisasiRiwayat"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Tambah Riwayat Imunisasi Activity -->
        <activity android:name=".ImunisasiRiwayatTambah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Detail Riwayat Imunisasi Activity -->
        <activity android:name=".ImunisasiRiwayatDetail"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Ubah Riwayat Imunisasi Activity -->
        <activity android:name=".ImunisasiRiwayatUbah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Hapus Riwayat Imunisasi Activity -->
        <activity android:name=".ImunisasiRiwayatHapus"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Alarm Imunisasi Activity -->
        <activity android:name=".ImunisasiAlarm"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Alarm Receiver -->
        <receiver android:name=".ImunisasiAlarmReceiver"/>
        <!-- Tumbuh Kembang Activity -->
        <activity android:name=".TumbuhKembang"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Tahapan Tumbuh Kembang Activity -->
        <activity android:name=".TumbuhKembangTahapan"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Galeri Tumbuh Kembang Activity -->
        <activity android:name=".TumbuhKembangGaleri"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Tambah Galeri Activity -->
        <activity android:name=".TumbuhKembangGaleriTambah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Detail Galeri Activity -->
        <activity android:name=".TumbuhKembangGaleriDetail"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Ubah Galeri Activity -->
        <activity android:name=".TumbuhKembangGaleriUbah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Hapus Galeri Activity -->
        <activity android:name=".TumbuhKembangGaleriHapus"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Rekam Medis Activity -->
        <activity android:name="com.syafira.SIGITA.RekamMedis"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Tambah Rekam Medis Activity -->
        <activity android:name=".RekamMedisTambah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Detail Rekam Medis Activity -->
        <activity android:name=".RekamMedisDetail"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Ubah Rekam Medis Activity -->
        <activity android:name=".RekamMedisUbah"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Hapus Rekam Medis Activity -->
        <activity android:name=".RekamMedisHapus"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <!-- Tentang Activity -->
        <activity android:name="com.syafira.SIGITA.TentangSIGITA"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
    </application>
</manifest>
