<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.syafira.SIGITA"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/icon_logo"
                 android:label="@string/app_name">
        <activity android:name="com.syafira.SIGITA.Splash"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.syafira.SIGITA.Index"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.ImageZoom"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.Profil"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.TambahProfil"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.ProfilPasscode"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.ProfilCekPasscode"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.Passcode"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.DetailProfil"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.UbahProfil"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.Gizi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.KalkulatorGizi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.HasilKalkulatorGizi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.DokumentasiGizi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.TambahDokumentasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.DetailDokumentasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.UbahDokumentasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.Imunisasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.JadwalImunisasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.DetailJadwalImunisasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.RiwayatImunisasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.TambahRiwayat"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.DetailRiwayat"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.UbahRiwayat"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.AlarmImunisasi"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <receiver android:name="com.syafira.SIGITA.AlarmReceiver"/>
        <activity android:name="com.syafira.SIGITA.TumbuhKembang"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.TahapanTumbang"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.GaleriTumbang"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.TambahGaleri"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.DetailGaleri"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.UbahGaleri"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.RekamMedis"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.TambahMedis"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.DetailMedis"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.UbahMedis"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.syafira.SIGITA.TentangSIGITA"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
    </application>
</manifest>
